@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Accountant Web app</h2>
    <h4>Calculate your Wage per project.</h4>
    <p>1. Clik on "Add Working Hours" menu.</p>
    <p>2. Fill the form and click "Calculate" !</p>
</div>
