@model IEnumerable<AccountatApp.Domain.Entities.Worker>

@{
    ViewData["Title"] = "ShowWorkerList";
}

<h1>Show Worker List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wage)
            </td>
        </tr>
}
    </tbody>
</table>
